.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    margin: 0 4px;
    background-color: #0070f3; /* Change to your desired color */
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
  }
  
  .dot1 {
    animation-delay: 0s;
  }
  
  .dot2 {
    animation-delay: 0.2s;
  }
  
  .dot3 {
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px); /* Adjust the bounce height */
    }
  }
  
  .loading-text {
    margin-left: 10px;
    font-size: 36px;
    color: #0070f3; /* Change to your desired text color */
  }